@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #39373b;
        --primary: #5345f5;
    }
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--background);
    color: white;
    font-family: Nunito;
}

h1 {
    font-family: Madimi One;
    font-size:4rem;
    letter-spacing: -0.15rem;
}

input {
    outline: none;
    color: black;
}